@{
    ViewBag.Title = "Inicio";
}

<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Aprendiendo hoy<br>Hablando mañana</h1>
        <h2>Somos un instituto enfocado en la enseñanzas de Idiomas</h2>
        <a href="~/Home/Cursos" class="btn-get-started">Iniciemos!!</a>
    </div>
</section>

<main id="main">

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="~/Home/img/acerca.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>¿Por qué matricular nuestro curso de inglés en Costa Rica?</h3>
                    <p class="fst-italic">
                        Nuestros cursos de inglés en Costa Rica te presentarán grandes oportunidades que estamos seguros, no querrás desaprovechar, aquí te comentamos algunos de los beneficios que podrás obtener con nuestro curso de inglés con certificado.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Al cursar nuestro curso completo de inglés podrá ser un profesional en el idioma, hablarlo de manera fluida y dominarlo.</li>
                        <li><i class="bi bi-check-circle"></i> Con nuestras clases de inglés podrá practicar todas las habilidades para tener un conocimiento completo del idioma (leer, escribir, hablar y entenderlo)</li>
                        <li><i class="bi bi-check-circle"></i> Contamos con cursos en inglés de manera presencial y virtual para tu comodidad, así podrás elegir el de tu preferencia.</li>
                        <li><i class="bi bi-check-circle"></i> Nuestros cursos en inglés te abrirán oportunidades en el mundo laboral, nacional o internacionalmente.</li>
                        <li><i class="bi bi-check-circle"></i> Con nuestros cursos de idiomas aprenderás a comunicarte de una mejor manera con personas de todo el mundo.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Graduados</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Cursos</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Grupos</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Profesores</p>
                </div>

            </div>

        </div>
    </section>
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>¿Por qué adquirir los cursos de inglés en el Centro Cultural de Idiomas?</h3>

                        <p>
                            Con años de experiencia contamos con profesionales dedicados a enseñar con técnicas innovadoras y eficientes a nuestros estudiantes, desde niños hasta adultos, con el objetivo de que estos se puedan comunicar en otros idiomas con fluidez y dominio del lenguaje.
                        </p>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Profesionales con experiencia</h4>
                                    <p>Parte de nuestro trabajo es contratar a los mejores profesores para crear los mejores estudiantes. </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Clases Online/Virtual</h4>
                                    <p>Gracias a nuestros cursos virtuales y nuestras plataformas para los cursos de inglés en Costa Rica logramos que cualquier persona en el país pueda ser parte de nosotros. </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Cursos Certificados</h4>
                                    <p>Con nuestros materiales garantizados y de la universidad de Oxford logramos brindar cursos con certificados y con resultados garantizados. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="popular-courses" class="courses" style="margin-top: 50px">
        <div class="container">

            <div class="section-title">
                <h2>Cursos</h2>
                <p>Cursos mas Populares</p>
            </div>

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <a href="~/Home/Ing_Intensivo_V"><img src="~/Home/img/course-1.jpg" class="img-fluid" alt="..."></a>
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Virtual</h4>
                                <p class="price">45% Descuento</p>
                            </div>
                            <h3><a href="~/Home/Ing_Intensivo_V">Ingles Intensivo</a></h3>
                            <p>Esta es la oportunidad de aprender inglés sin salir de tu casa, nuestra plataforma online te permitirá ingresar cuando desees y practicar a través de diferentes actividades el idioma, además recibirás seguimiento por parte de los profesores.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="course-item">
                        <a href="~/Home/Ing_Intensivo_P"><img src="~/Home/img/course-2.jpg" class="img-fluid" alt="..."></a>
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Presencial</h4>
                                <p class="price">45% Descuento</p>
                            </div>

                            <h3><a href="~/Home/Ing_Intensivo_P">Ingles Intensivo</a></h3>
                            <p>Mediante materiales de la universidad de Oxford, aprenderás a leer, escuchar, hablar y escribir correctamente el idioma del inglés, contamos con profesores altamente experimentados para ayudarte a que manejes el idioma del inglés a la perfección.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a href="~/Home/Ing_Niños_V"><img src="~/Home/img/course-3.jpg" class="img-fluid" alt="..."></a>
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Virutal o Presencial</h4>
                                <p class="price">45% Descuento</p>
                            </div>

                            <h3><a href="~/Home/Ing_Niños_V">Inglés para Niños</a></h3>
                            <p>
                                Enseñarles a niños el idioma inglés desde temprana edad les traerá grandes oportunidades, por esto contamos con nuestro curso de inglés para niños,
                                la duración de este curso tiene un aproximado de 3 meses.
                            </p>
                        </div>
                    </div>
                </div>


                <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px;"></p>


                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a href="~/Home/Ing_Semi_Intensivo_V"><img src="~/Home/img/course-4.jpg" class="img-fluid" alt="..."></a>
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Virutal</h4>
                                <p class="price">45% Descuento</p>
                            </div>

                            <h3><a href="~/Home/Ing_Semi_Intensivo_V">Inglés Semi Intensivo</a></h3>
                            <p>Si cuentas con poco tiempo libre no hay excusa para no aprender inglés, ya que aquí encontrarás nuestro curso semi intensivo virtual, que te ayudará mediante clases y plataformas en línea a manejar el idioma inglés a la perfección.</p>
                        </div>
                    </div>
                </div> 


                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a href="~/Home/Ing_Semi_Intensivo_P"><img src="~/Home/img/course-5.jpg" class="img-fluid" alt="..."></a>
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Presencial</h4>
                                <p class="price">45% Descuento</p>
                            </div>

                            <h3><a href="~/Home/Ing_Semi_Intensivo_P">Inglés Semi Intensivo</a></h3>
                            <p>Si quieres aprender inglés, pero quieres mantener tu ritmo y hacerlo con calma, este curso será la opción perfecta. Además, en este curso brindamos muchos beneficios para que puedas aprender perfectamente el idioma.</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <a href="~/Home/Portu_Semi_Intensivo_V"><img src="~/Home/img/course-6.jpg" class="img-fluid" alt="..."></a>
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Virtal o Presencial</h4>
                                <p class="price">45% Descuento</p>
                            </div>

                            <h3><a href="~/Home/Portu_Semi_Intensivo_V">Portugués</a></h3>
                            <p>Nuestra empresa es líder en cursos de idiomas en Costa Rica, aquí también podrás aprender portugués. Este curso es ideal para jóvenes y adultos y podrás aprender a leer, escuchar, hablar y escribir de manera correcta y más fluido.</p>
                        </div>
                    </div>
                </div> 


            </div>


        </div>
    </section>

</main>
