

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}

<main id="main" class="main">

    <section class="section">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <section id="popular-courses" class="courses" style="margin-left: 100px !important; margin-top: 100px !important;">
                            <div class="container">

                                <div class="section-title">
                                    <h2>Cursos</h2>
                                    <p>Cursos mas Populares</p>
                                </div>

                                <div class="row" data-aos="zoom-in" data-aos-delay="100">

                                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                                        <div class="course-item">
                                            <a href="~/Home/Ing_Intensivo_V"><img src="~/Home/img/course-1.jpg" class="img-fluid" alt="..."></a>
                                            <div class="course-content">
                                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                    <h4>Virtual</h4>
                                                    <p class="price">45% Descuento</p>
                                                </div>
                                                <h3><a href="~/Home/Ing_Intensivo_V">Ingles Intensivo</a></h3>
                                                <p>Esta es la oportunidad de aprender inglés sin salir de tu casa, nuestra plataforma online te permitirá ingresar cuando desees y practicar a través de diferentes actividades el idioma, además recibirás seguimiento por parte de los profesores.</p>
                                            </div>
                                        </div>
                                    </div> <!-- End Course Item-->

                                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                                        <div class="course-item">
                                            <a href="~/Home/Ing_Intensivo_P"><img src="~/Home/img/course-2.jpg" class="img-fluid" alt="..."></a>
                                            <div class="course-content">
                                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                    <h4>Presencial</h4>
                                                    <p class="price">45% Descuento</p>
                                                </div>

                                                <h3><a href="~/Home/Ing_Intensivo_P">Ingles Intensivo</a></h3>
                                                <p>Mediante materiales de la universidad de Oxford, aprenderás a leer, escuchar, hablar y escribir correctamente el idioma del inglés, contamos con profesores altamente experimentados para ayudarte a que manejes el idioma del inglés a la perfección.</p>
                                            </div>
                                        </div>
                                    </div> <!-- End Course Item-->

                                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                        <div class="course-item">
                                            <a href="~/Home/Ing_Niños_V"><img src="~/Home/img/course-3.jpg" class="img-fluid" alt="..."></a>
                                            <div class="course-content">
                                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                    <h4>Virtual o Presencial</h4>
                                                    <p class="price">45% Descuento</p>
                                                </div>

                                                <h3><a href="~/Home/Ing_Niños_V">Inglés para Niños</a></h3>
                                                <p>
                                                    Enseñarles a niños el idioma inglés desde temprana edad les traerá grandes oportunidades, por esto contamos con nuestro curso de inglés para niños,
                                                    la duración de este curso tiene un aproximado de 3 meses.
                                                </p>
                                            </div>
                                        </div>
                                    </div> <!-- End Course Item-->


                                    <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px;"></p>


                                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                        <div class="course-item">
                                            <a href="~/Home/Ing_Semi_Intensivo_V"><img src="~/Home/img/course-4.jpg" class="img-fluid" alt="..."></a>
                                            <div class="course-content">
                                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                    <h4>Virutal</h4>
                                                    <p class="price">45% Descuento</p>
                                                </div>

                                                <h3><a href="~/Home/Ing_Semi_Intensivo_V">Inglés Semi Intensivo</a></h3>
                                                <p>Si cuentas con poco tiempo libre no hay excusa para no aprender inglés, ya que aquí encontrarás nuestro curso semi intensivo virtual, que te ayudará mediante clases y plataformas en línea a manejar el idioma inglés a la perfección.</p>
                                            </div>
                                        </div>
                                    </div> <!-- End Course Item-->


                                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                        <div class="course-item">
                                            <a href="~/Home/Ing_Semi_Intensivo_P"><img src="~/Home/img/course-5.jpg" class="img-fluid" alt="..."></a>
                                            <div class="course-content">
                                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                    <h4>Presencial</h4>
                                                    <p class="price">45% Descuento</p>
                                                </div>

                                                <h3><a href="~/Home/Ing_Semi_Intensivo_P">Inglés Semi Intensivo</a></h3>
                                                <p>Si quieres aprender inglés, pero quieres mantener tu ritmo y hacerlo con calma, este curso será la opción perfecta. Además, en este curso brindamos muchos beneficios para que puedas aprender perfectamente el idioma.</p>
                                            </div>
                                        </div>
                                    </div> <!-- End Course Item-->


                                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                        <div class="course-item">
                                            <a href="~/Home/Portu_Semi_Intensivo_V"><img src="~/Home/img/course-6.jpg" class="img-fluid" alt="..."></a>
                                            <div class="course-content">
                                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                    <h4>Virtual o Presencial</h4>
                                                    <p class="price">45% Descuento</p>
                                                </div>

                                                <h3><a href="~/Home/Portu_Semi_Intensivo_V">Portugués</a></h3>
                                                <p>Nuestra empresa es líder en cursos de idiomas en Costa Rica, aquí también podrás aprender portugués. Este curso es ideal para jóvenes y adultos y podrás aprender a leer, escuchar, hablar y escribir de manera correcta y más fluido.</p>
                                            </div>
                                        </div>
                                    </div> <!-- End Course Item-->


                                </div>


                            </div>
                        </section>

                        </div>
                    </div>
                </div>
            </div>
        </section>


       
</main>