
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Ingles Intensivo Presencial</h2>
            <p>Mediante materiales de la universidad de Oxford, aprenderás a leer, escuchar, hablar y escribir correctamente el idioma del inglés, contamos con profesores altamente experimentados para ayudarte a que manejes el idioma del inglés a la perfección. </p>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/Home/img/course-details-1.jpg" class="img-fluid" alt="">
                    <h3>Ingles Intensivo Presencial</h3>
                    <p>
                        Mediante materiales de la universidad de Oxford, aprenderás a leer, escuchar, hablar y escribir correctamente el idioma del inglés, contamos con profesores altamente experimentados para ayudarte a que manejes el idioma del inglés a la perfección.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Modulos</h5>
                        <p><a>3-4 Meses</a></p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Descuento</h5>
                        <p>45%</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Cupos Disponibles</h5>
                        <p>4</p>
                    </div>
                    <div class="align-items-center">
                        <h5>Horarios</h5>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Lunes y Miercoles</h5>
                        <p>8.00 am a 10.30 am</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Lunes y Miercoles</h5>
                        <p>10.30 am a 1.00 pm</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Lunes y Miercoles</h5>
                        <p>6.00 pm a 9.00 pm</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Martes y Jueves</h5>
                        <p>8.00 am a 10.30 am</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Martes y Jueves</h5>
                        <p>10.30 am a 1.00 pm</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Martes y Jueves</h5>
                        <p>6.00 pm a 9.00 pm</p>
                    </div>
                    @if (Context.Session.GetString("RolUsuario") == "1" || Context.Session.GetString("RolUsuario") == "2" || Context.Session.GetString("RolUsuario") == "3" || Context.Session.GetString("RolUsuario") == "5")
                    {
                        <a type="submit" class="btn btn-success" href="@Url.Action("RegistrarMatricula","Matricula")">Matricular Curso</a>
                    }
                    else
                    {
                        <a class="btn btn-primary" href="@Url.Action("IniciarSesion","Login")">Matricular</a>
                    }
                </div>
            </div>
        </div>

</main>