@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}

<main id="main">

    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Ingles Niños Virtual</h2>
            <p>Esta es la oportunidad perfecta para que los niños aprendan inglés desde la comodidad de su hogar. 
                Nuestra plataforma en línea les brindará la flexibilidad de ingresar cuando lo deseen y practicar el 
                idioma a través de diversas actividades diseñadas especialmente para ellos. Además, contarán con el 
                seguimiento constante de nuestros experimentados profesores. </p>
        </div>
    </div>
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/Home/img/course-3.jpg" class="img-fluid" alt="">
                    <h3>Ingles Intensivo Presencial</h3>
                    <p>
                        A través de los recursos educativos de la Universidad de Oxford, los niños aprenderán de manera 
                        virtual a leer, escuchar, hablar y escribir en inglés de manera precisa. Contamos con profesores 
                        altamente experimentados que guiarán a los niños para que dominen el idioma de manera efectiva y 
                        divertida.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Modulos</h5>
                        <p><a>3-4 Meses</a></p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Descuento</h5>
                        <p>45%</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Cupos Disponibles</h5>
                        <p>4</p>
                    </div>
                    <div class="align-items-center">
                        <h5><center>Horarios<center></h5>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Lunes y Miercoles</h5>
                        <p>8.00 am a 10.30 am</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Lunes y Miercoles</h5>
                        <p>10.30 am a 1.00 pm</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Lunes y Miercoles</h5>
                        <p>6.00 pm a 9.00 pm</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Martes y Jueves</h5>
                        <p>8.00 am a 10.30 am</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Martes y Jueves</h5>
                        <p>10.30 am a 1.00 pm</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Martes y Jueves</h5>
                        <p>6.00 pm a 9.00 pm</p>
                    </div>
                    @if (Context.Session.GetString("RolUsuario") == "1" || Context.Session.GetString("RolUsuario") == "2" || Context.Session.GetString("RolUsuario") == "3" || Context.Session.GetString("RolUsuario") == "5")
                    {
                        <a type="submit" class="btn btn-success" href="@Url.Action("RegistrarMatricula","Matricula")">Matricular Curso</a>
                    }
                    else
                    {
                        <a class="btn btn-primary" href="@Url.Action("IniciarSesion","Login")">Matricular</a>
                    }
                </div>
            </div>
        </div>
    </section>
    
</main>