@model IEnumerable<CCIH.Entities.GrupoEnt>

@{
    ViewData["Title"] = "Lista de Usuarios Matriculados";
    Layout = "~/Views/Shared/_Layout_PantallasAdmin.cshtml";
}

<h1 class="titulo">Lista de Usuarios Matriculados</h1>

<div style="padding: 50px;">
    <div class="card" style="padding-top: 25px;">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Curso</th>
                        <th style="text-align: center;">Agregar Estudiantes</th>
                        <th style="text-align: center;">Ver Grupo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Descripcion</td>
                            <td>@item.NombreCurso</td>
                            <td style="text-align: center;"><a href="@Url.Action("UsuariosPorCursoMatriculado","Grupo", new { IdCurso = item.IdCurso, IdGrupo = item.IdGrupo })"><span style="color: #000;" class="bi bi-plus"></span></a></td>
                            <td style="text-align: center;"><a href="@Url.Action("UsuariosPorGrupo","Grupo", new { IdGrupo = item.IdGrupo })"><span style="color: #000;" class="bi bi-eye"></span></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>